= form_with(model: @reservation, local: true, data: { turbo: false }) do |form|
  =t('views.reservations.reservation.date')
  .div
    = form.label :start_date
    = form.datetime_field :start_date

  = form.hidden_field :cat_id, value: @cat.id
  =t('views.reservations.reservation.information')

  .border-button
    = form.submit t('views.reservations.reservation.request')
  